.col {
	color: #fff;
}

.text-muted {
	color: #fff!important;
}

.btn-success {
    background-color: #dd2232;
    border-color: #dd2232;
    user-select: none;
    border-radius: 0px;
    cursor: default;
}

.btn-success:hover {
	color: #fff;
	background-color: #b71c28;
	border-color: #b71c28;
}

.btn-success:disabled {
	color: #fff;
	background-color: #b71c28;
	border-color: #b71c28;
}

button#savebtn:active {
    color: #fff;
	background: #dd2232;
	border-color: #dd2232;
	cursor: default;
}

button#savebtn:focus {
    color: #fff;
	background: #dd2232;
	border-color: #dd2232;
	cursor: default;
	box-shadow: none;
}

button#defaultbtn:active {
    color: #fff;
    background-color: #dd2232;
    border-color: #dd2232;
}

button#defaultbtn:focus {
    background-color: #dd2232;
    border-color: #dd2232;
    color: #fff;
    box-shadow: none;
}

.ui-widget-content {
	border: 1px solid;
	border-color: #fff;
	background-color: #b71c28;
	background: none;
	user-select: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #fff;
	user-select: none;
}

.ui-slider .ui-slider-handle:active {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	background-image: linear-gradient(#dd2232, #b71c28);
	user-select: none;
}

.slider {
	border: 1px solid;
	border-color: #fff;
	background-color: #fff;
	user-select: none;
}

.ui-slider {
	position: relative;
	text-align: left;
	user-select: none;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	user-select: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
	user-select: none;
}